go 1.20

use (
	./
	./contracts/english_auction
	./contracts/dutch_auction
	./contracts/cb1p_auction
	./contracts/cb2p_auction
	./contracts/eth_stable_coin
	./contracts/fabric_asset
	./contracts/fabric_erc20
)
